manifest {
    homePage = 'http://github.com/FredHutch/cellprofiler-batch-nf/'
    description = 'CellProfiler Batch Execution'
    mainScript = 'main.nf'
    defaultBranch = 'main'
}

params {
    n = 1000
    concat_n = 100
    group_col = 'Group_Number'
    folder_col = 'PathName_Orig'
    file_col = 'FileName_Orig'
    shard_col = 'Shard_Id'
    experiment_file = 'Experiment.txt'
    nan_value = 'nan'
    file_prefix_in = ''
    file_prefix_out = ''
    version = '4.2.1'
    // Docker containers reused across processes
    container_cellprofiler = "cellprofiler/cellprofiler:${params.version}"
    container_pandas = "quay.io/fhcrc-microbiome/python-pandas:v1.2.1_latest"
}


profiles {
    standard {
        process {
            withLabel: io_limited {
                cpus = 1
                memory = 4.GB
            }
            withLabel: mem_medium {
                cpus = 4
                memory = 30.GB
            }
            withLabel: cpu_medium {
                cpus = 8
                memory = 15.GB
            }
            withLabel: cpu_verylarge {
                cpus = 36
                memory = 58.GB
            }
            errorStrategy = 'retry'
            maxRetries = 5
        }
    }
    docker {
        docker {
            enabled = true
            temp = 'auto'
        }
        process {
            withLabel: io_limited {
                cpus = 1
                memory = 1.GB
            }
            withLabel: mem_medium {
                cpus = 1
                memory = 1.GB
            }
            withLabel: cpu_medium {
                cpus = 1
                memory = 1.GB
            }
            withLabel: cpu_verylarge {
                cpus = 1
                memory = 1.GB
            }
            errorStrategy = 'retry'
            maxRetries = 5
            maxForks = 10
        }
    }
}


process {
    errorStrategy = 'retry'
    maxRetries = 3 //slurm tends to SIGTERM jobs
    maxForks = 100
    nextflowVersion = '>=21.04.0'
}