manifest {
    homePage = 'http://github.com/FredHutch/cellprofiler-batch-nf/'
    description = 'CellProfiler Batch Execution'
    mainScript = 'main.nf'
    defaultBranch = 'main'
}

params {
    n = 1000
    concat_n = 100
    group_col = 'Group_Number'
    folder_col = 'PathName_Orig'
    file_col = 'FileName_Orig'
    shard_col = 'Shard_Id'
    experiment_file = 'Experiment.txt'
    nan_value = 'nan'
    file_prefix_in = ''
    file_prefix_out = ''
    version = '4.2.1'
}

process {
    errorStrategy = 'retry'
    maxRetries = 3 //slurm tends to SIGTERM jobs
    maxForks = 100
}